@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  background: transparent;
  margin-right: 4%;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 25px;
  font-weight: 600;
  border: 2px black;
}

.nav-links li a:hover {
  text-shadow: 2px 2px 2px #c30808;
}

.series-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  row-gap: 10vh;
  padding: 5% 0 3% 15%;
  background-color: lightgray;
}

.series-image {
  width: 20vw;
  height: 45vh;
  border-radius: 10px;
}

.series-image h5 {
  color: #fff;
  z-index: 1;
}

.contTitle h5 {
  font-size: 1.5rem;
  padding-top: 3%;
}

.contButtons {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}

.reservations,
.comments {
  width: 50%;
  padding: 2%;
  margin-bottom: 1%;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}

/* Modal pop up comment */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 50%;
  padding: 1%;
  transition: 0.7ms ease-in-out;
}

.popupimg {
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.popupdescrip {
  background: white;
}

.closepopup {
  background: url('../src/assets/cross.png');
  width: 5%;
  position: absolute;
  right: 3%;
  cursor: pointer;
}

.titlepopup {
  background-color: transparent;
}

.titleComment {
  background-color: transparent;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.firstPerson {
  background-color: transparent;
  font-weight: 700;
}

.secondPerson {
  background-color: transparent;
  font-weight: 700;
}

.inputName {
  background-color: transparent;
  width: 97%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 1%;
  border-radius: 10px;
}

.textarea {
  background-color: transparent;
  width: 89%;
  padding: 5%;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popUpComments {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto auto;
  row-gap: 10vh;
  margin-left: 15%;
}

.site-footer {
  padding: 2vh 0 2vh 2vw;
  font-weight: 600;
}

/* popup styling */

#popup {
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #111;
}

.reservation-container {
  width: 50%;
  margin: auto;
  background-color: #171717;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}

.poster-container {
  height: 300px;
}

.poster-container img {
  height: 100%;
}

.logo a img {
  background: url("./assets/favicon.png");
  background-color: white;
  position: absolute;
  height: 5%;
  cursor: pointer;
  padding: 1.5%;
  margin-top: -3.2%;
  background-size: cover;
}

.details-container {
  width: 100%;
}

.details-box {
  width: 100%;
  padding: 24px;
  padding-top: 0;
  line-height: 1.5;
  height: 100%;
}

.details-box ul li {
  list-style: disc;
  margin-left: 14px;
}

.heading {
  font-size: 32px;
  padding: 2px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
}

.normal {
  font-size: 1rem;
}

.reservations {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8rem;
}

.reservations:hover,
.comments:hover {
  width: 32%;
  padding: 2.5%;
  font-weight: bolder;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
}

.forms {
  display: grid;
  flex-direction: column;
}

#closeBtn {
  font-size: x-large;
  cursor: pointer;
}

#reserve-button {
  padding: 10px 20px;
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

#name,
#startdate,
#enddate {
  height: 1.8rem;
  margin-bottom: 0.5rem;
  width: 14rem;
}

.close-button {
  max-width: 1rem;
}

@media (max-width: 768px) {
  *,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  .series-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 5% 0 3% 15%;
    gap: 20px;
  }

  .contTitle {
    width: 100%;
  }

  .series-image {
    width: 20vw;
    height: 30vh;
  }

  .popupimg {
    width: 30vw;
    height: 60vh;
  }
}
